@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones { 
  // margin-top: v.$separacion / 2;

  @include m.tablet {
  display: flex;
  justify-content: space-around;
  margin-top: 20rem;
  gap: 4rem;
  }

  span {
    color: v.$rosita;
    font-weight: v.$bold;
  }

  a {
    color: v.$blanco;
    display: block;
    font-size: 2rem;
    margin-bottom: calc(v.$separacion /2);
    text-align: center;
    font-size: 1.5rem;
    &.verde{
      background-color: green;
    }
    &:hover {
      span {
        color: v.$verde;
      }
    }
  }
}